name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip zip unzip openjdk-17-jdk expect
          pip install buildozer cython

      - name: Build APK
        run: |
          expect -c "
          spawn buildozer android debug
          expect {
              \"Accept? (y/N):\" { send \"y\r\"; exp_continue }
              eof
          }
          "

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-apk
          path: bin/*.apk
