name: Build APK
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip python3-pip libffi-dev libssl-dev expect
          pip install --upgrade pip
          pip install buildozer cython
      - name: Build APK
        run: |
          expect -c "
          set timeout -1
          spawn buildozer android debug
          expect {
              \"Do you accept the license?\" { send \"y\r\"; exp_continue }
              eof
          }"
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: bin/*.apk
